<%# app/views/posts/index.html.erb %>
<p class="text-success"><%= notice %></p>

<div class="container py-5">
  <h1 class="text-center mb-5" style="color: #341539;">Latest Posts</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @posts.each do |post| %>
      <div class="col">
        <%= render partial: "post", locals: { post: post } %>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <%= link_to "New post", new_post_path, class: "btn", style: "border: 1px solid #83358F; color: #83358F;" %>
  </div>
</div>

